<div class='footer'>
  <div class='footer-contents'>
    <div class='tyorippu-details'>
      <h2 class='footer-content-head'>ちょりっぷを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='tyorippu-details'>
      <h2 class='footer-content-head'>ちょりっぷについて</h2>
      <ul>
        <li><%= link_to 'ちょりっぷガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ちょりっぷロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("tyorippu_logo.png", class:"logo-white"), "#" %>
  <p>© ちょりっぷ</p>
</div>