<div class="nested-fields">
  <%= f.hidden_field :id %>
  <div class="field">
    <%= f.text_field :spot_name, class:"input-default", id:"spot-name", placeholder:"※ 場所の名前" %>
  </div>
  <div class="field">
    <%= f.text_area :spot_address, class:"input-default", id:"spot-address", placeholder:"※ 住所（都道府県は絶対に入力してください）" %>
  </div>
  <div class="field">
    <%= f.collection_check_boxes :categories, class:"input-default", id:"spot-categories" %>
  <div class="field">
    <%= f.text_field :spot_tel, class:"input-default", id:"spot-tel", placeholder:"電話番号" %>
  </div>
  <div class="field">
    <%= f.label :spot_parking, "※ 駐車場：" %>
    <%= f.radio_button :spot_parking, "なし", checked: true %>なし
    <%= f.radio_button :spot_parking, "あり" %>あり
    <%= f.radio_button :spot_parking, "近隣に有料あり" %>近隣に有料あり
  </div>
  <div class="field">
    <%= f.text_field :spot_comment, class:"input-default", id:"spot-comment", placeholder:"あなたの感想をひとことどうぞ！" %>
  </div>
  <%= link_to_remove_association "remove spot", f %>
</div>

