<%= render "shared/second-header" %>
<div class="main">

  <div class="page-show-contents">

    <% @page.each do |page| %>
      <%# ページ情報部分 %>
      <div class="page-top-contents">
        <h2 class="page-title">
          <%= page.page_title %>
        </h2>
        <div class="page-comment">
          <%= page.page_comment %>
        </div>

        <%# 削除ボタン %>
        <div class="delete-btn">
          <%= link_to "削除", page_path, method: :delete, class: "page-destroy" %>
        </div>
      </div>
      <%# ページ情報部分 %>

      <%# スポット情報部分 %>
      <div class="spot-contents">
      <% page.spots.each do |spot| %>
        <div class="spot-box">
          <%= spot.spot_name %><br>
          <%= spot.spot_address %><br>
          <%= spot.spot_tel %><br>
          <%= spot.spot_parking %><br>
          <%= spot.spot_comment %>
        </div>
      <% end %>
      <%# スポット情報部分 %>
    <% end %>
  </div>
</div>