<div class="head-contents">
  <%= link_to root_path do %>
    <%= image_tag "sun.png", class: "sun-img" %>
  <% end %>
</div>
<div class="main">
  <div class="page-show-contents">

    <% @page.each do |page| %>
      <%# ページ情報部分 %>
      <div class="page-top-contents-left">
        <h2 class="show-page-title">
          <%= page.page_title %>
        </h2>
        <div class="show-page-comment">
          <%= page.page_comment %>
        </div>

        <div class="page-top-contents-right">
          <div class="page-user">
            <%= page.user[:nickname] %>
          </div>
          <div class="updated">
            <%= page.updated_at.strftime("%Y.%m.%d") %>
          </div>
        </div>

        <div id='like_btn_<%= page.id %>', class='like'>
          <%= render 'likes/like', page: page, likes: @likes %>
        </div>

        <%# タグ情報 %>
        <div class="tag_lists">
          <% page.page_tags.each do |tag| %>
            <%= tag.tag_name %>
          <% end %>
        </div>
        <%# タグ情報 %>
      </div>

      <div class="edit-btn">
        <% if page.user_id == current_user.id %>
          <%# 削除ボタン %>
          <div class="delete-btn">
            <%= link_to page_path, method: :delete, class: "page-destroy" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>

          <%# 編集ボタン %>
          <div class="rewrite-btn">
            <%= link_to edit_page_path, method: :get, class: "page-edit" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <%# ページ情報部分 %>

      <%# スポット情報部分 %>
      <ul class="timeline">
        <div class="spot-contents">
          <% page.spots.each do |spot| %>
          <li>
            <dl>
            <div class="spot-box">
              <div class="show-spot-name">
                <%= spot.spot_name %><br>
              </div>
              <i class="fas fa-map-marker-alt"></i>
              <%= spot.spot_address %><br>
              <i class="far fa-bookmark"></i>
              <%= spot.category.name %><br>
              <i class="fas fa-phone"></i>
              <%= spot.spot_tel %><br>
              <i class="fas fa-parking"></i>
              <%= spot.spot_parking %><br>
              <i class="far fa-comment"></i>
              <%= spot.spot_comment %>
            </div>
            </dl>
            <span class="border-line"></span>
          </li>
          <% end %>
        </div>
        </ul>
      <%# スポット情報部分 %>
    <% end %>
  </div>
</div>
<div class="foot-contents">
  <%= link_to root_path do %>
    <div class="caption">TOP PAGE</div>
  <% end %>
</div>

<script>
$(".like").click(function(){
    location.reload();
})
</script>